# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\WORK\MY\auto_mybatis_to_sql\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
